<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>

    <div class ='cardContainer'>
      <%for (let i = 0; i < item.length; i++){%>
        <div class ='card'>
        <h3><%= item[i].name %></h3>
        <img src='<%= item[i].img %>' class = 'cardImg'>
        <p><%= item[i].size %></p>
        <p><%= item[i].price %></p>
        </div>
      <%}%>
    </div>


  </body>
  </html>
