<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('./partials/nav.ejs')%>

  </header>



  <nav class ='collectionNav'>
    <ul class='collectionLink topBtn'>Tops</ul>
    <ul class='collectionLink bottomBtn'>Bottoms</ul>
    <ul class='collectionLink miscBtn'>Misc</ul>
  </nav>
    <div class ='cardContainer'>
      <%for (let i = 0; i < item.length; i++){%>
        <a href ='/show/<%= item[i]._id %>'>
          <div class ='card <%= item[i].catagory %> hidden'>
          <h3><%= item[i].name %></h3>
          <img src='<%= item[i].img %>' class = 'cardImg' alt ='<%= item[i].name %>' >
          </div>
        </a>
      <%}%>
    </div>


  </body>
  </html>
