<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body onload ='filterStyle()'>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>

  <div class ='mainContainer'>
  <h2 class='showHeader'>Edit: <%= item.name %></h2>
  <div class='crudContainer'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- DELETE BUTTON                         -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <form action="<%=item.id%>?_method=DELETE" method="post" class='showStat'>
      <input type='submit' class ='shortLink navLink' value ='DELETE ITEM' onClick="return confirm('Are you sure you want to delete <%= item.name %>?')">
    </form>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ARCHIVE/UNARCHIVE BUTTON              -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <% if (item.archive === false) { %>
    <form action="/archives/<%=item._id%>" class='showStat'>
      <input type='submit' class ='shortLink navLink' value ='ARCHIVE ITEM'>
    </form>
    <%  } else { %>
    <form action="/unarchive/<%=item._id%>" class='showStat'>
      <input type='submit' class ='shortLink navLink' value ='UNARCHIVE ITEM'>
    </form>
    <% } %>

</div>
  <div class ='showContainer'>
  <div class ='insideContainer'>
    <img src="<%=item.img%>" alt="<%= item.name %>" class ='imgShow'><br>
  </div>
    <div class='insideContainer'>
    <form action="/edit/<%=item.id%>?_method=PUT" method="post">
      <label>Name:</label>
      <input type="text" name="name" value="<%=item.name%>" placeholder ='Name:'><br>
      <input type="text" name="img" value="<%=item.img%>" placeholder ='Img url:'><br>
      <label>Size:</label>
      <input type="text" name="size" value="<%=item.size%>" placeholder ='Size:'><br>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- CATAGORY DROPDOWN WITH VALUE POPULATED   -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <label>Catagory:</label>
      <select type="text" name="catagory" id='catagoryDrop' onchange='filterStyle()' value="<%=item.catagory%>"><br>
        <option value="" disabled selected>Catagory:</option>
        <%  let sShirts = ''
            let sPants = ''
            let sSkirts = ''
            let sHoodies = ''
            let sKids = ''
            let sMisc = ''
          if (item.catagory === 'shirts') {
              sShirts = 'selected'
            } else if (item.catagory === 'pants') {
              sPants = 'selected'
            } else if (item.catagory === 'skirts') {
              sSkirts = 'selected'
            } else if (item.catagory === 'hoodies') {
              sHoodies = 'selected'
            } else if (item.catagory === 'kids') {
              sKids = 'selected'
            } else if (item.catagory === 'misc') {
              sMisc = 'selected'
            } else {}%>
        <option value="shirts" <%= sShirts %> >Shirts</option>
        <option value="pants" <%= sPants %> >Pants</option>
        <option value="skirts" <%= sSkirts %> >Skirts/ Dresses</option>
        <option value="hoodies" <%= sHoodies %> >Hoodies</option>
        <option value="kids" <%= sKids %> >Kids</option>
        <option value="misc" <%= sMisc %> >Misc</option>
      </select><br>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- STYLE DROPDOWN BASED ON CATAGORY      -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <label>Style:</label>
      <select name ='style' id='filter' type='text'>
        <option value='' disabled selected>Style:</option>
        <option value="tShirt" class="shirtsD">T-Shirt</option>
        <option value="vNeck" class="shirtsD">V-Neck</option>
        <option value="tankTop" class="shirtsD">Tank Top</option>

        <option value="pullOver" class="hoodiesD">Pull Over</option>
        <option value="zipUp" class="hoodiesD">Zip Up</option>

        <option value="yoga" class="pantsD">Yoga</option>

        <option value="skirt" class="skirtsD">Skirt</option>
        <option value="dress" class="skirtsD">Dress</option>

        <option value="onsie" class="kidsD">Onsie</option>
        <option value="kidShirt" class="kidsD">Kids Shirt</option>
        <option value="kidPants" class="kidsD">Kids Pants</option>
      </select></br>

      <label>Price: $</label>
      <input type="text" name="price" value="<%=item.price%>" placeholder ='Price: (number only)'><br>
      <label>Tags:</label>
      <input type='array' name='tags' value='<%=item.tags%>' placeholder ='Tag, Tag, Tag'><br>
      <input type="submit" class ='navLink shortLink ' value="Submit Changes" >
    </form>

    <form action="/collections" method="">
      <input type='submit'class ='navLink'  value ='CANCEL'>
    </form>

</div>
</div>



</body>
</html>
