<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>
  <div class ='mainContainer'>
  <h2 class='showHeader'>Edit: <%= item.name %></h2>
  <div class='crudContainer'>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- DELETE BUTTON                         -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <form action="<%=item.id%>?_method=DELETE" method="post" class='showStat'>
      <input type='submit' class ='navLink' value ='DELETE ITEM'>
    </form>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- ARCHIVE/UNARCHIVE BUTTON              -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <% if (item.archive === false) { %>
    <form action="/archives/<%=item._id%>" class='showStat'>
      <input type='submit' class ='navLink' value ='ARCHIVE ITEM'>
    </form>
    <%  } else { %>
    <form action="/unarchive/<%=item._id%>" class='showStat'>
      <input type='submit' value ='UNARCHIVE ITEM'>
    </form>
    <% } %>

</div>
  <div class ='showContainer'>
  <div ='insideContainer'>
    <img src="<%=item.img%>" alt="<%= item.name %>" class ='imgShow'><br>
  </div>
    <div ='insideContainer'>
    <form action="/edit/<%=item.id%>?_method=PUT" method="post">
      <input type="text" name="name" value="<%=item.name%>" placeholder ='Name:'><br>
      <input type="text" name="img" value="<%=item.img%>" placeholder ='Img url:'><br>
      <input type="text" name="size" value="<%=item.size%>" placeholder ='Size:'><br>
      <input type="text" name="style" value="<%=item.style%>" placeholder ='Style:'><br>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- DROP DOWN MENU WITH VALUE POPULATED   -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <select type="text" name="catagory" value="<%=item.catagory%>"><br>
        <option value="" disabled selected>Catagory:</option>
        <%  let sShirts = ''
            let sPants = ''
            let sSkirts = ''
            let sHoodies = ''
            let sKids = ''
            let sMisc = ''
          if (item.catagory === 'shirts') {
              sShirts = 'selected'
            } else if (item.catagory === 'pants') {
              sPants = 'selected'
            } else if (item.catagory === 'skirts') {
              sSkirts = 'selected'
            } else if (item.catagory === 'hoodies') {
              sHoodies = 'selected'
            } else if (item.catagory === 'kids') {
              sKids = 'selected'
            } else if (item.catagory === 'misc') {
              sMisc = 'selected'
            } else {}%>



        <option value="shirts" <%= sShirts %> >Shirts</option>
        <option value="pants" <%= sPants %> >Pants</option>
        <option value="skirts" <%= sSkirts %> >Skirts/ Dresses</option>
        <option value="skirts" <%= sHoodies %> >Hoodies</option>
        <option value="kids" <%= sKids %> >Kids</option>
        <option value="misc" <%= sMisc %> >Misc</option>
      </select><br>
      <input type="text" name="price" value="<%=item.price%>" placeholder ='Price: (number only)'><br>
      <input type='array' name='tags' value='<%=item.tags%>' placeholder ='Tag, Tag, Tag'><br>
      <input type="submit" class ='navLink' value="Submit Changes" >
    </form>

    <form action="/collections" method="">
      <input type='submit'class ='navLink'  value ='CANCEL'>
    </form>

</div>
</div>



</body>
</html>
