<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body class ='ink'>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>
<div class='indexContainer'>
  <p class ='intro'>All of our items are hand made with care and pride in Colorado.  We use premium cotton fabrics and 100% organic dyes.  </p>

  <div class ='carouselContainer'>

    <div class ='btnContainerLeft'>
      <div class ='lnr lnr-arrow-left-circle link'>
      </div>
    </div>
    <div class = 'slideContainer'>
    <%for (let i = 0; i < 7; i++) {
      let randomNumber = Math.floor(Math.random()*item.length) %>
      <a  href ='/show/<%= item[randomNumber]._id %>'><img src ='<%= item[randomNumber].img %>' class ='slide link' alt ='<%= item[randomNumber].name %>'></a>
      <% } %>
    </div>
    <div class ='btnContainerRight'>
      <div class ='lnr lnr-arrow-right-circle link'>
      </div>
    </div>
  </div>
  <p class ='intro'>Not seeing what you're really after? Certian design or color palette perhaps?  We are happy to make custom orders, and love to hear your ideas!  Simply <a href ='/contact'>contact us</a></p>
</div>



</body>
</html>
