<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body class ='ink'>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>
<div class='indexContainer'>
  <p>All of our items are hand made with care and pride in Colorado.  We use premium cotton fabrics and 100% organic dyes.  </p>

  <div class ='carouselContainer'>

    <div class ='btnContainerLeft'>
      <div class ='lnr lnr-arrow-left-circle'>
      </div>
    </div>
    <div class = 'slideContainer'>
    <%for (let i = 0; i < item.length; i++) { %>
      <a href ='/show/<%= item[i]._id %>'><img src ='<%= item[i].img %>' class ='slide' alt ='<%= item[i].name %>'></a>
      <% } %>
    </div>
    <div class ='btnContainerRight'>
      <div class ='lnr lnr-arrow-right-circle'>
      </div>
    </div>
  </div>
  <p>Not seeing what you're really after? Certian design or color palette perhaps?  We are happy to make custom orders, and love to hear your ideas!  Simply <a href ='/contact'>contact us</a></p>
</div>



</body>
</html>
