<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>
  <div class='mainContainer'>
    <h1><%=item.name%></h1>
    <div class ='showContainer'>
      <div ='insideContainer'>
        <img src="<%=item.img%>" alt="<%= item.name %>" class ='imgShow'>
      </div>
    <div class='insideContainer'>
      <h3 class='showStat'>Style: <%=item.style%></h3>
      <p class='showStat'>Size: <%=item.size%></p>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!-- CHECK IF ARCHIVED FOR PRICE DISPLAY   -->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <% if (item.archive === false) { %>
        <h3 class='showStat'>Price: $<%=item.price%></h3>
      <%  } else { %>
        <h3 class='showStat'>This particular item has already been sold.  Please inquire if you would like us to make something similar!</h3>
         <% } %>

        <% for (let i=0; i < item.tags.length; i++ ) { %>
      <p class='showStat'>Tags: <a href = '<%=[i]%>'><%=item.tags[i]%></a><p>
        <%  } %>

      <a href='/edit/<%=item._id%>' class='showStat'>edit this item</a>

      <form action="<%=item.id%>?_method=DELETE" method="post" class='showStat'>
      <input type='submit' value ='DELETE ITEM'>
      </form>
    </div>

  </div>


</body>
</html>
