<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%-include('./partials/nav.ejs')%>
  </header>


  <div class='mainContainer'>
    <h1 node><%=item.name%></h1>
    <div class='crudContainer'>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- DELETE BUTTON                         -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <form action="<%=item.id%>?_method=DELETE" method="post" class='secret'>
        <input type='submit' value ='DELETE ITEM'>
      </form>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- ARCHIVE/UNARCHIVE BUTTON              -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

      <% if (item.archive === false) { %>
      <form action="/archives/<%=item._id%>" class='secret'>
        <input type='submit' value ='ARCHIVE ITEM'>
      </form>
      <%  } else { %>
      <form action="/unarchive/<%=item._id%>" class='secret'>
        <input type='submit' value ='UNARCHIVE ITEM'>
      </form>
      <% } %>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- EDIT BUTTON                           -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <form action="/edit/<%=item._id%>" class='secret'>
        <input type='submit' value ='EDIT ITEM'>
      </form>
  </div>

  <div class ='showContainer'>
    <div ='insideContainer'>
      <img src="<%=item.img%>" alt="<%= item.name %>" class ='imgShow'>
    </div>
    <div class='insideContainer'>
      <h3 class='showStat'>Style: <%=item.style%></h3>
      <p class='showStat'>Size: <%=item.size%></p>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- CHECK IF ARCHIVED FOR PRICE DISPLAY   -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <% if (item.archive === false) { %>
      <h3 class='showStat'>Price: $<%=item.price%></h3>
      <%  } else { %>
      <h3 class='showStat'>This particular item has already been sold.  Please inquire if you would like us to make something similar!</h3>
      <% } %>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- LOOPING OVER TAG ARRAY TO MAKE LINKS  -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <% for (let i=0; i < item.tags.length; i++ ) { %>
      <p class='showStat'>Tags: <a href = '<%=[i]%>'><%=item.tags[i]%></a><p>
      <%  } %>
    </div>
  </div>


</body>
</html>
